/* Whole page layout */
.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Page itself does NOT scroll */
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-image: url(/images/banner.jpg);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    position: fixed;
    left: 10px;
    top: 39px;
    border-radius: 30px;
}

/* Sidebar menu */
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logout-btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 8px;
    width: 100%;
    color: #fff;
    border-radius: 5px;
}

/* Content */
.dashboard-content {
    margin-left: 330px;
    width: calc(100% - 330px);
    padding: 20px;
    height: 100vh;
    overflow-y: auto; 
    /* background: red; */
    color: #070707;
    position: relative; /* <<< IMPORTANT FIX */
}

body{
    max-height:100vh;
    overflow: hidden;
}